# imports for Python, Pandas

In [1]:
import json
from pandas.io.json import json_normalize
import pandas as pd
import numpy as np

# Load file to dataframe

In [2]:
bank_data = json.load((open('data/world_bank_projects.json')))
df1 = json_normalize(bank_data)

Question1: Find the 10 countries with most projects

In [3]:
df1.countryname.value_counts().head(10)

People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Kingdom of Morocco                 12
People's Republic of Bangladesh    12
Nepal                              12
Republic of Mozambique             11
Africa                             11
Name: countryname, dtype: int64

Question2: Find the top 10 major project themes (using column 'mjtheme_namecode')

In [5]:
df2 = json_normalize(new_data , 'mjtheme_namecode')
df2.groupby(['name']).size().sort_values(ascending=False).head(10)

name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
                                                122
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
dtype: int64

In [16]:
df2.groupby(['code']).size().sort_values(ascending=False).head(10)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
dtype: int64

Question 3: In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

Create a sorted dataframe

In [7]:
df3 = df2.sort_values(['code', 'name'], ascending=True)

replace empty strings with NaN to use fillna()

In [8]:
df3.replace(to_replace='', value=np.nan, inplace=True)

'bfill' fills the nan cells with known values

In [10]:
df3['name'].fillna(inplace=True, method='bfill')

Check whether there is any null objects

In [11]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1499 entries, 212 to 1495
Data columns (total 2 columns):
code    1499 non-null object
name    1499 non-null object
dtypes: object(2)
memory usage: 35.1+ KB

Verify answer with question 2 and see if the missing entries are filled

In [14]:
df3.groupby(['code', 'name']).size().sort_values(ascending=False)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
3     Rule of law                                      15
dtype: int64

Also verify with code field

In [15]:
df3.groupby(['code']).size().sort_values(ascending=False)

code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
3      15
dtype: int64